:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #283040; 
  color: #D9BE6C;   
  text-align: center;
}

body {
  margin: 0;
  padding-bottom: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: dark;
  }
}
