.exibicao {
  width: auto;
  height: auto;
  border: 0.5px solid #D9BE6C;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1em;
  padding: 1.5em;
  justify-items: center;
}

.card {
  width: 480px;
  height: auto; 
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover; 
}

@media (max-width: 600px) {
    .interface-exibicao {
        width: 90%; 
        padding: 10px; 
        gap: 10px; 
        justify-content: center;
    }

    .interface-exibicao img {
        height: 200px;
    }

    .card {
        width: 100%;
    }
}