#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #283040);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #283040);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cabecalho-departamento {
  width: 100%;
  color: white;
  padding: 20px 2px;
  border-bottom: 4px solid #D9BE6C;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 10px #D9BE6C;
}


.logo-departamento {
  width: 200px;
  height: 200px;
  object-fit: contain;
  filter: drop-shadow(0 0 5px #D9BE6C);
  margin-right: 50px;
  margin-left: 150px;
}


.nome-departamento {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 6px #D9BE6C;
  margin: 0;
}

.titulo-principal {
  text-align: center;
  color: white;
  margin-top: 35px;
  font-size: 2.4rem;
  font-weight: 800;
  text-shadow: 0 0 6px #D9BE6C;
}
