.App {
  min-height: 100vh;
  max-width: 1600px; 
  
  margin: 0 auto; 
  min-width: 375px;

  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}

.titulo-principal {
  text-align: center;
  color: white;
  margin-top: 55px;
  font-size: 2.5em;
  font-weight: 800;
  text-shadow: 0 0 6px #D9BE6C;
  line-height: 1.1;
}

p {
  margin: 1ch;
  padding: auto;
}